/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Add your custom styles here... */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');

/* Give the link some padding and some color */
/* Slider */
.slick-slider{ position: relative; display: block; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent;}
.slick-slider .slick-slide:focus, .slick-slider .slick-slide:active, .slick-slider .slick-slide:hover{ outline: none;}
.slick-list{position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: pointer;cursor: hand;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
.slick-track{position: relative;top: 0;left: 0;display: block;}
.slick-track:before,.slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none;float: left;height: 100%;min-height: 1px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}

a:hover {
    text-decoration: none;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #31475e;
}

li.ss-nav-button {
    padding: 10px;
}
a.financing-top-bar {
    padding: 0 50px;
}
li.ss-nav-button>a {
	background-color: #07324E;
    color: #ffffff !important;
    padding: 16px 18px !important;
    border-radius: 100px;
    margin-left: 10px;
}
.fl-page-nav-centered-inline-logo .fl-page-header-logo {
     display: block !important;
    background: #000;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
	padding-top: 12px;
}
.fl-page-header-container.container {
    padding-top: 0px;
}

/* Adjust the position for the fixed navigation menu */

li.ss-nav-button>a {
    position: relative;
}


/* Give the button a hover & active state */

li.ss-nav-button>a:active,
li.ss-nav-button>a:hover {
    color: #ffffff !important;
    background-color: #07324E;
}

.fl-submenu-indicator .fl-page-nav ul.navbar-nav>li.menu-item-has-children>a:after {
    color: #F89621;
}

.foot-4-html i,
.foot-4-html p {
    color: #F89621 !important;
    padding: 0px 10px;
}


/* make the form container relative for positioning */

body #gform_wrapper_1 {
    position: relative;
}


/* resize and position the form footer with the button */

body #gform_wrapper_1 .gform_footer {
    width: auto;
    position: absolute;
    top: 0px;
    left: 320px;
    padding: 0;
    margin: 0;
}

.home .afl-button {
    color: #fff !important;
    text-decoration: none;
    background-color: #07324e;
    padding: 12px 30px;
    border-radius: 100px;
    margin: 10px 25px 10px 0px;
    display: inline-block;
    border: 1px solid #07324e;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.home .rfl-button {
    color: #fff !important;
    text-decoration: none;
    background-color: #F89621;
    padding: 12px 30px;
    border-radius: 100px;
    margin: 10px 10px 10px 0px;
    display: inline-block;
    border: 1px solid #F89621;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.home .afl-button:hover {
    color: #07324e !important;
    background-color: #fff;
    border: 1px solid #07324e;
}

.home .rfl-button:hover {
    color: #F89621 !important;
    background-color: #fff;
    border: 1px solid #F89621;
}

.icon-sep {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.hours-icon img {
    margin: 0 0 10px 0px;
}

.hours-icon {
    text-align: center;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 10px 20px;
    height: 67px;
}

.home-box {
    background-color: #fff;
    margin: 0px 0 20px;
}

.home-divider {
    border: 0.5px solid #f2f2f2;
    width: 80%;
    margin: 20px auto;
}

.aircraft-border {
    border-right: 1px solid #939393;
    border-left: 1px solid #939393;
}

.download-button {
    padding: 12px 24px;
    border-radius: 24px;
    border: 1px solid #f89621;
    background: #f89621;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    width: 240px;
    font-weight: 500;
}

.inquire-button {
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 24px;
    border: 1px solid #020e16;
    background: #07324e;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    width: 240px;
}

.product-atts {
    margin-left: 100px;
}

.product-atts>p.plane-make {
    margin-bottom: 20px;
    color: #f89621;
}

.product-atts>p.reduced-price {
    margin-bottom: 0;
    color: #d0021b;
    line-height: 1;
}

.product-atts .aviation-price {
    margin-top: 0;
    margin-bottom: 0;
}

.slider-nav.slick-initialized.slick-slider {
    margin-top: 26px;
}

.slider-nav .slick-slide {
    margin: 0 10px;
}

.slick-track {
    /* transform: translate3d(0, 0, 0) !important; */
}

.slick-list {
    padding: 0 !important;
}

.slider-nav .slick-arrow {
    position: absolute !important;
    top: 40%;
    background: none;
    border: 0;
}

.slick-prev:before {
    content: '\f104' !important;
    color: #f89621 !important;
    font: normal normal normal 36px/1 FontAwesome !important;
}

.slick-next:before {
    content: '\f105' !important;
    color: #f89621 !important;
    font: normal normal normal 36px/1 FontAwesome !important;
}

.slider-nav .slick-slide img {
    cursor: pointer;
}

.slick-dots {
    display: none!important;
}

.product-atts .hours-icon {
    float: left;
    padding-left: 20px;
    padding-top: 20px;
}

.row.infotabs {
    margin-top: 75px;
}

.nav-tabs {
    border-bottom: 1px solid #fff;
    display: flex;
}

.nav>li>a {
    padding: 21px 0;
    border-radius: 0;
}

.nav-tabs>li>a {
    border-right-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    margin-right: 0;
    border-top: 0;
    border-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-tabs>li:last-child>a {
    border-right-color: transparent;
}

.nav-tabs>li {
    background: lightgray;
    border-radius: 0;
    flex: 1;
    text-align: center;
    margin-bottom: 0;
    max-width: 300px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background: #fafafa;
    border: 0;
    border-right: 1px solid #fff;
}

.tab-content {
    padding-top: 30px;
    background: #fafafa;
}

.tab-content>.tab-pane {
    font-size: 16px;
    font-weight: 400;
    color: #31475e;
}

.tab-content>.tab-pane label {
    margin-right: 10px;
}

a.dwbutton,
a.eqbutton {
    color: #ffffff;
}

.icon-sep.jeticons {
    display: flex !important;
    width: 85%
}

.jeticons .hours-icon {
    font-size: 12px;
}

div#engine,
div#avionics,
div#interior,
div#exterior,
div#propeller,
div#options {
    padding: 8% 15%;
}

.home-slider h2.fl-slide-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #07324e;
}

.view-inventory .fl-heading span {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.94;
    letter-spacing: normal;
    text-align: center;
    color: #31475e;
}

.service-heading h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #31475e;
}

.hundredyears .fl-callout-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #31475e;
    margin-top: 40px;
    margin-bottom: 24px;
}

.hundredyears p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #31475e;
}

.hundredyears .fl-button {
    border-radius: 100px;
    background-color: #07324e;
    box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
    margin-top: 36px;
}

.findplane h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.footercolmenu a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: normal;
    color: #c3c2c2;
}

.copyrighttext .fl-html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.footermenu a {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.fa-angle-down {
    color: #f89621 !important;
}

.fl-page-bar .text-right {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.1px;
    color: #ffffff;
}

.about-header h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #07324e;
}

.about-heading h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #31475e;
}

.about-text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.81;
    letter-spacing: normal;
    color: #31475e;
}

.about-work h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: center;
    color: #31475e;
}

.about-section p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.81;
    letter-spacing: normal;
    color: #31475e;
}

.world-icon {
    margin-bottom: -73px;
    z-index: 1;
    position: relative;
}

.testicontent {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: center;
    color: #31475e;
    margin-right: 26px;
    margin-left: 26px;
}

.testiauthor {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.81;
    letter-spacing: normal;
    color: #31475e;
    text-align: right;
    margin-top: 19px;
    margin-bottom: 0px;
    margin-right: 90px;
}

.copyrighttext .fl-html {
    float: right;
    margin-right: 0px;
}

.footermenu {
    float: left;
    margin-right: 131px;
}

.finanacing-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #31475e;
}

.financing-head {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #31475e;
}

.financing-headcontent p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #31475e;
}

.footercol .fl-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.footer-contact .foot-4-html p,
.footer-contact .foot-4-html a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f89621;
    margin-bottom: 15px;
}

#menu-inventory-menu,
#menu-services-menu,
#menu-company-menu {
    margin-top: 12px;
}

.question-contact-heading .fl-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #31475e;
}

.gform_wrapper .gfield_checkbox li label {
    font-size: 12px !important;
    margin-left: 25px !important;
}

.receivecheck .gform_wrapper .gfield_checkbox li label#label_2_8_1 {
    font-size: 10px !important;
    margin-left: 25px !important;
}

.terms .gfield_description {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: #000000;
    margin-left: 38px;
}

.location-title .fl-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.36;
    letter-spacing: normal;
    color: #ffffff;
}

.location-add-icon i.fas.fa-map-marker-alt {
    margin-top: -40px;
}

ul.location-list {
    list-style: none;
    margin-top: 65px;
}

.location-list li {
    margin-bottom: 20px;
    font-size: 16px;
}

.plane-location {
    z-index: 1;
    position: relative;
}

.imgholder {
    width: 392px;
    height: 278px;
}

.arrowShow {
    text-align: center;
    margin: 0px 0px -42px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.imgfixht {
    display: block;
}

.imgfixht img {
    width: 100%;
}

.leftcols {
    padding-left: 160px;
    margin-top: 75px;
}

.rightcols {
    float: right;
}

.team-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 400 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62;
    letter-spacing: normal;
    color: #31475e;
    margin-bottom: 0;
}

.team-job {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #f89621;
    margin-bottom: 30px;
}

.showBarInfo .pro-close {
    float: right;
    width: 33px;
    margin-top: 0;
    cursor: pointer;
    position: absolute;
    right: -30px;
    top: -20px;
}

.teambtn {
    border-radius: 100px;
    background-color: #f89621;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 13px 30px 12px 30px;
    border: 1px solid #F89621;
    display: inline-block;
}

.teambtn:hover {
    background-color: #ffffff;
    color: #f89621;
    border: 1px solid #F89621;
}

.teambtnemail {
    border-radius: 100px;
    background-color: #07324e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 13px 30px 12px 30px;
    border: 1px solid #07324e;
    display: inline-block;
}

.teambtnemail:hover {
    background-color: #ffffff;
    color: #07324e;
    border: 1px solid #07324e;
}

.airlist {
    transition: 400ms;
    -webkit-transition: 400ms;
    margin-bottom: 30px;
}

.airlist:hover {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#wp-megamenu-header,
#wp-megamenu-header .wpmm-main-wrap-header,
#wp-megamenu-header .wpmm-nav-wrap>ul {
    position: static;
}

.wp-megamenu-wrap .wpmm-nav-wrap>ul>li>a:hover {
    color: #F89621 !important;
}

.flexColumn {
    display: flex !important;
}

.flexColumn>* {
    flex: 1;
    text-align: center;
}

.flexColumn>li>a img {
    /* height: 50px; */
}

.flexColumn>li>a span {
    display: block;
    margin-top: 15px;
}

.flexColumn.customService>li>a img {
    height: auto;
    opacity: .9;
    width: 100%;
}

.customService {
    width: 85%;
    z-index: 1;
    margin: 0 auto !important;
}

.customService .eqCalumn>a {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 !important;
    margin: 0 10px;
}

.customService .eqCalumn>a:before {
    content: '';
    position: absolute;
    background: #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.customService .eqCalumn span {
    position: absolute;
    text-transform: capitalize;
    color: #ffffff;
    margin: 0;
}

.customMarketingAircrafts .fl-col-group-equal-height .fl-html h4 {
    padding: 0 20px;
    font-weight: 500;
}

.inventoryCustomLink #wpmm-strees-row-27>.wp-megamenu-sub-menu {
    padding: 55px 0 !important;
    z-index: 999;
}

.inventoryCustomLink .wp-megamenu-sub-menu,
.inventoryCustomLink .wp-megamenu-sub-menu:after,
.inventoryCustomLink .wp-megamenu-sub-menu:before {
    background: #f2f2f2 !important;
}

.customMegamenu #wpmm-strees-row-28>.wp-megamenu-sub-menu {
    z-index: 999;
}

.inventoryCustomLink #wpmm-strees-row-27 .wpmm-col-4.wp-megamenu-item-69201 {
    padding: 0;
}

.customMenuContent h3 {
    margin-top: 0;
}

.customMenuContent p {
    line-height: 1.2;
    margin: 0;
}

.inventoryCustomLink .customMenuContent>a.customBtn {
    display: inline-block !important;
    padding: 5px 20px !important;
    background: #07324e !important;
    border-radius: 30px;
    margin-top: 15px;
    color: #ffffff !important;
}

.inventoryCustomLink .customMenuContent>a.customBtn:hover {
    color: #07324e !important;
    background: #ffffff !important;
}

.air-servicefrm_wrapper .gfield_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    position: relative;
}

.air-servicefrm_wrapper .ginput_container_select {
    position: relative;
}

.air-servicefrm_wrapper .ginput_container_select:before {
    content: "\f107";
    position: absolute;
    color: #f89621 !important;
    z-index: 1;
    right: 10px;
    top: 14px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.air-servicefrm_wrapper .gfield_checkbox {
    position: relative;
}

.air-servicefrm_wrapper .gfield input[type=text],
.air-servicefrm_wrapper .gfield_select {
    height: 43px
}

.air-servicefrm_wrapper .gfield_checkbox input[type=checkbox] {
    visibility: hidden;
}

.air-servicefrm_wrapper .gfield_checkbox input[type=checkbox]+label:before {
    content: '';
    border: 1px solid #f89621;
    height: 18px;
    width: 18px;
    display: inline-block;
    color: #000;
    border-radius: 100%;
    vertical-align: middle;
    position: absolute;
    left: 3px;
    background: none;
}

.air-servicefrm_wrapper .gfield_checkbox input[type=checkbox]:checked+label:before {
    background: #f89621;
}

.air-servicefrm_wrapper .gform_wrapper .top_label div.ginput_container {
    margin-top: 0;
}


/* Footer Newsletter */

.footer_newsletter input[type=submit],
.footer_newsletter input[type=text] {
    height: 40px;
}

.footercolmenu .menu a {
    padding: 0;
}

.filterWrapper {
    display: flex;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #31475e;
}

.filterWrapper .facetwp-facet {
    margin: 0 30px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    position: relative;
    color: #07324e;
    margin-bottom: 50px;
}

.filterWrapper .facetwp-facet .facetwp-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    padding: 15px 45px 15px 25px;
    border-radius: 40px;
    outline: 0;
    box-shadow: 0 8px 11px 0 rgba(189, 189, 189, 0.5);
}

.filterWrapper>strong {
    font-weight: 400;
    line-height: 1.8;
}

.filterWrapper .facetwp-facet:before {
    content: "\f107";
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 18px;
    text-rendering: auto;
    color: rgb(248, 150, 33) !important;
    font: normal normal normal 14px/1 FontAwesome;
}

.customPrice {
    height: 32px;
    font-size: 17px;
}

.HomePageProducts .fl-col-group-equal-height .fl-col-content {
    padding: 0 10px;
    transition: 400ms;
    -webkit-transition: 400ms;
    cursor: pointer;
}

.HomePageProducts .fl-col-group-equal-height .fl-col-content:hover .fl-module-photo {
    box-shadow: 0 -5px 25px 0 rgba(0, 0, 0, 0.3);
    transition: 400ms;
    -webkit-transition: 400ms;
}

.HomePageProducts .fl-col-group-equal-height .fl-col-content:hover .home-box {
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.3);
    transition: 400ms;
    -webkit-transition: 400ms;
}

.teamMember {
    margin-bottom: 30px;
}

.headerOfPage {
    display: flex;
    background: #dedede;
    justify-content: center;
    align-items: center;
}
.teamdescription {
    max-width: 80%;
    margin: 0 auto;
}

.page-id-127 .fl-callout-title-text {
    color: #fff;
}

.product-atts>.productTitle {
    font-size: 38px;
    font-weight: 400;
}

.prductDetail {
    margin-top: 20px;
    margin-bottom: 50px;
}

.prductDetail>p {
    line-height: 1;
}

.prductDetail>p label {
    margin-right: 10px;
}

.icon-sep.jeticons .hours-icon {
    padding-left: 0;
    flex: 1;
    max-width: 30%;
}

.icon-sep.jeticons .hours-icon img {
    height: 30px;
}

.jetslider .slick-track .slick-slide>div {
    display: none !important;
}

.jetslider .slick-track>.slick-slide.slick-current.slick-active>div {
    display: block !important;
}

img.alignnone {
    margin: 0 !important;
    height: 30px !important;
}

.product-grid .icon-sep {
    justify-content: center;
}

.product-grid .jeticons .hours-icon {
    font-size: 8px;
}

.product-grid .jeticons .hours-icon img,
.product-grid .hours-icon img {
    margin-bottom: 10px !important;
}

.product-grid .icon-sep.jeticons {
    margin: 0 auto;
}

.reducedtext {
    position: absolute;
    background: #f89621;
    padding: 7px 10px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

span.reducedtext:after {
    content: '';
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #f89621;
    display: inline-block;
    width: 10px;
    position: absolute;
    top: 0;
    left: 100%;
}

.soldtext {
    position: absolute;
    background: #EA3546;
    padding: 7px 10px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

span.soldtext:after {
    content: '';
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #EA3546;
    display: inline-block;
    width: 10px;
    position: absolute;
    top: 0;
    left: 100%;
}

body #gform_wrapper_2 .gform_body .gform_fields .gfield .gfield_label {
    font-weight: 500;
}

.fontWaight-500,
.fontWaight-500 h4,
.fontWaight-500 h3,
.fontWaight-500 h2,
.fontWaight-500 h1 {
    font-weight: 500;
}

.servicePageFormHeading {
    font-weight: 500;
}

.air-servicefrm_wrapper .receivecheck label,
.air-servicefrm_wrapper .receivecheck input[type=checkbox]:checked+label {
    font-weight: 400 !important;
}

.air-servicefrm_wrapper .receivecheck label::before {
    top: 5px;
}

.air-servicefrm_wrapper .receivecheck>.gfield_label {
    display: none !important;
}

.air-servicefrm_wrapper input[type=submit] {
    max-width: 200px;
    width: 100% !important;
    margin: 0 !important;
    font-size: 14px;
    font-weight: 500;
}

.btnService .fl-button {
    font-size: 14px;
    text-align: center;
    width: 100%;
    font-weight: 500;
    max-width: 200px;
}

.btnService .fl-button .fl-button-text {
    font-size: 14px;
    font-weight: 500;
}

body #gform_wrapper_1 .gform_footer input[type=submit] {
    font-size: 13px;
}

.findyourplane .receivecheck {
    width: 80%;
}

.findyourplane .gform_footer input[type=submit] {
    height: 40px;
    background-color: #07324E;
    font-size: 14px !important;
    border-radius: 100px;
    -web-border-radius: 100px;
    -moz-border-radius: 100px;
    border-width: 0px;
}

.findyourplane .gform_footer input[type=submit]:hover {
    background-color: #f89621;
}

.fl-post-title {
    font-size: 25px;
    font-weight: 500;
}

.postListing .fl-post-content-beside .fl-post-content>p {
    display: inline;
    font-size: 16px;
}

.postListing .fl-post-content-beside .fl-post-content>p+a {
    font-weight: 700;
    font-size: 16px;
}

.postListing .fl-post-image-beside .fl-post-thumb {
    margin-bottom: 0;
}

.fl-archive .fl-post {
    border-bottom-color: #979797;
}

.postListing .fl-post-content-beside .fl-post-content {
    margin: 22px 0;
}

.postDate {
    font-size: 11px;
}

.postListing .type-post>.row {
    display: flex;
    align-items: center;
}

.postListing .fl-archive.container:nth-child(2) article.type-post {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #979797;
}

.postListing .fwp-load-more {
    font-size: 14px;
    text-align: center;
    width: 100%;
    font-weight: 500;
    max-width: 200px;
    background: #f89621;
    border-radius: 36px;
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    border: 1px solid #ec8a15;
}

.postListing .fwp-load-more:hover,
.post-template-default .gform_footer .gform_button:hover {
    color: #ffffff !important;
    background-color: #07324E;
    border: 1px solid #07324E;
}

.newsDetails .fl-post-image-beside {
    width: 100%;
}

.newsDetails .fl-post-image-beside .fl-post-thumb img {
    width: 100%;
}

.post-template-default .fl-content-left {
    border: 0;
}

.post-template-default .gform_wrapper .top_label input.medium {
    width: 100%;
    height: 40px;
    font-size: 11px !important;
    border: 0;
    border-radius: 0;
    padding: 5px 12px !important;
}

.post-template-default #gform_widget-3 {
    background: #f2f2f2;
    padding: 20px 40px;
}

.post-template-default .gform_footer .gform_button {
    font-size: 13px !important;
    text-align: center;
    width: 100% !important;
    font-weight: 500;
    line-height: 30px;
    background: #07324E;
    border-radius: 36px;
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    border: 1px solid #07324E;
    margin: 0 !important;
}

.post-template-default .fl-widget .fl-widget-title {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.post-template-default .fl-widget .fl-widget-title+p {
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.post-template-default .field_description_below>.gfield_label {
    display: none !important;
}

.post-template-default .field_sublabel_below {
    padding-right: 0 !important;
}

.post-template-default .gform_footer {
    padding: 0 !important;
}

.post-template-default .recent-posts-extended .fl-widget-title {
    margin: 30px 0;
    font-size: 17px;
}

.post-template-default .recent-posts-extended .rpwe-block h3 {
    font-weight: 600;
}

.post-template-default .recent-posts-extended .rpwe-time {
    color: #f89621;
    font-weight: 600;
}

.post-template-default .rpwe-block a {
    vertical-align: sub;
    font-size: 14px;
}

.post-template-default .rpwe-block .rpwe-thumb {
    padding: 0 !important;
}

.post-template-default .fl-widget ul li {
    border-bottom: 0;
}

.newsDetails .fl-post-meta-bottom {
    border: 0;
}

.listOfLocation .location-list li a {
    display: block;
    max-width: 315px;
}

.listOfLocation .location-list li a .fa {
    font-size: 22px;
    vertical-align: bottom;
    float: right;
}

.singleLocation .fl-heading .fl-heading-text {
    font-size: 22px;
    font-weight: 500;
}

.singleLocation .fl-heading .fl-heading-text small {
    font-size: 22px;
}

.contactBarFooter .fl-module-icon {
    min-height: 63px;
}

.plane-year {
    text-align: center;
    font-size: 13px;
    color: #021420;
    height: 26px;
}

.nopostsbtn {
    border-radius: 100px;
}

.noposts {
    text-align: center;
}

input#gform_submit_button_5 {
    height: 40px;
    background-color: #f89621;
    font-size: 14px !important;
    border-radius: 100px;
}

.terms span.gfield_required {
    display: none;
}

.find-terms span.gfield_required {
    display: none;
}

.social-list a {
    margin-left: 15px;
}

.social-list {
    display: inline-flex;
}
.airlist .product-grid .product-grid-top .view-cta{
    display: none!important;
    text-align: center;
   margin: 0 auto!important;
   
}


/* Responsive Media */

@media (min-width:767px) {
    .collapseInfo {
        width: 99.4vw;
        margin-left: calc(-50vw + 50%);
        background: #fafafa;
        clear: both;
    }
    .showBarInfo {
        clear: both;
        padding: 70px 250px;
        align-items: center;
    }
    .pro-close {
        float: right;
        width: 35%;
        margin-top: 40px;
    }
}

@media (max-width:1024px) and (min-width:767px) {
    body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=text] {
        line-height: .1;
        height: 40px;
    }
    body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=text]::placeholder {
        line-height: 1;
    }
    .fl-node-5b0cf71992de2 {
        width: 52.51%;
    }
}

@media (max-width:767px) {
    .foot-4-html {
        margin: 0 -6px 40px;
    }
    .foot-4-html p {
        padding: 0;
    }
    .social-list a {
        margin-left: auto;
        margin-right: 15px;
    }
    .headerOfPage{
        padding: 10px 20px;
    }
    #menu-inventory-menu,
    #menu-services-menu,
    #menu-company-menu {
        margin-bottom: 40px;
    }
    footer.fl-builder-content .footercol .fl-row-content-wrap {
        padding: 30px 50px;
    }
    .fl-node-5b0cf7252fe4a.fl-module-heading .fl-heading {
        width: calc(100% - 100px);
        margin: 0 auto !important;
    }
    body #gform_wrapper_1 .gform_footer {
        position: static;
        text-align: center !important;
    }
    body #gform_wrapper_1 .gform_footer input[type=submit] {
        width: calc(100% - 80px) !important;
        margin: 0 auto;
    }
    body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=text] {
        margin: 0 auto 20px;
        width: calc(100% - 80px) !important;
        height: auto;
        line-height: 30px;
    }
    body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=text]::placeholder {
        line-height: 10px;
    }
    .copyrighttext .fl-html {
        float: none;
        text-align: center;
        margin-top: 30px;
    }
    /* righ plan for u */
    .findplane h3 {
        width: calc(100% - 70px);
        font-size: 27px;
        margin: 0 auto !important;
    }
    /* hundredyears */
    .hundredyears {
        padding: 0 20px;
    }
    .hundredyears .fl-callout-title {
        font-size: 30px;
    }
    .hundredyears p {
        font-size: 13px;
        line-height: 29px;
    }
    .fl-node-5b0d4408ceac6>.fl-row-content-wrap {
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.7);
        padding-top: 60px;
    }
    .world-icon {
        margin-bottom: -60px
    }
    .service-heading h3 {
        color: #ffffff;
        font-size: 16px;
        padding: 0 10px;
        font-weight: 400;
        line-height: 30px;
    }
    .HomePageProducts .fl-col-group-equal-height .fl-col-content {
        padding: 0 30px;
    }
    .airlist .inventory-img {
        height: auto;
    }
    .airlist .fl-post-grid-text.product-grid>.product-grid-top {
        padding: 0 20px;
    }
    .fl-node-5b0d21138b022>.fl-row-content-wrap {
        padding-top: 0;
    }
    .view-inventory .fl-heading span {
        padding: 30px 0;
        display: block;
        font-size: 26px;
        line-height: 32px;
    }
    .service-heading h3>br {
        display: none;
    }
    .home .rfl-button,
    .home .afl-button {
        padding: 5px 20px;
        margin: 0 7px;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 30px 15px;
    }
    .footermenu {
        float: none;
        margin: 0;
    }
    #menu-footer-menu {
        padding: 20px 0 20px 70px;
        display: flex;
    }
    /* header  */
    .fl-page-nav-right .fl-page-header-row.displayOnlyMobile {
        padding: 15px;
        justify-content: center;
        align-items: center;
    }
    .displayOnlyMobile>* {
        flex: 1;
    }
    .fl-page-header-container {
        padding: 10px 0;
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-wrap {
        padding-bottom: 0;
    }
    .displayOnlyMobile .home .afl-button {
        font-size: 10px;
        line-height: 15px;
        padding: 4px 6px;
        margin: 0;
        white-space: nowrap;
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-wrap .navbar-toggle {
        margin: 0;
        background: none;
        font-size: 22px;
        padding: 0;
    }
    .displayOnlyMobile>.fl-page-header-logo-col {
        flex: 4;
        padding: 0 10px;
    }
    .fl-page-header-container {
        padding-top: 0;
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse {
        position: absolute;
        top: 50px;
        z-index: 1;
        right: 0;
        left: 0;
        width: calc(100vw) !important;
        margin: 0 -15px;
        background: #fff;
    }
    .customMarketingAircrafts {
        padding-bottom: 80px;
        background: #07324e;
        margin-bottom: -60px;
    }
    .testicontent {
        color: #31475E;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
    }
    .testiauthor {
        color: #31475E;
        font-size: 16px;
        font-weight: bold;
        line-height: 29px;
    }
    .service-header span.fl-heading-text {
        color: #07324E;
        font-size: 22.8px;
        font-weight: bold;
        line-height: 28px;
        text-align: center;
        width: 200px;
        display: inline-block;
    }
    .service-faq span.fl-heading-text,
    .service-heading-title span.fl-heading-text {
        color: #31475E;
        font-size: 21px;
        line-height: 27px;
        text-align: center;
    }
    .service-bg-content h3 {
        color: #fff;
        font-size: 21px;
        line-height: 27px;
        text-align: center;
    }
    .servicecallout .fl-callout-text ul,
    .service-left-content .fl-rich-text ul,
    .servicecallout .fl-callout-text p,
    .service-left-content .fl-rich-text p {
        color: #31475E;
        font-size: 13px;
        line-height: 26px;
        font-weight: 400;
    }
    .service-bg-content .fl-callout-text p {
        color: #fff;
        font-size: 13px;
        line-height: 26px;
        font-weight: 400;
    }
    .servicecallout h3.fl-callout-title a {
        color: #31475E;
        font-size: 25px;
        line-height: 34px;
    }
    .servicecallout .fl-button-wrap.fl-button-width-auto {
        text-align: center;
    }
    .service-gform span.fl-heading-text {
        color: #31475E;
        font-size: 23px;
        line-height: 29px;
        text-align: center;
        width: 250px;
        display: inline-block;
    }
    .service-gform .fl-rich-text p br {
        display: none;
    }
    .service-gform .fl-rich-text p {
        color: #07324E;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
        font-weight: 400;
    }
    .aircraft-border {
        border-right: none;
        border-left: none;
        border-top: 1px solid #939393;
        border-bottom: 1px solid #939393;
    }
    .contactBarFooter .fl-rich-text p {
        color: #07324E;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.13px;
        line-height: 26px;
        text-align: center;
        width: 250px;
        margin: 0px auto 20px auto;
    }
    .finanacing-heading .fl-rich-text p span {
        color: #31475E;
        font-size: 15px !important;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
    .finance-content .fl-rich-text p {
        color: #31475E;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
    p.mobcontent {
        margin-top: 30px;
    }
    .showBarInfo .pro-close {
        right: 0;
    }
    .showBarInfo .pro-close>img {
        height: 20px;
    }
    .showBarInfo h2 {
        font-size: 22px;
        margin-top: 0;
    }
    .showBarInfo p {
        font-size: 12px;
    }
    .fl-node-5b20b69b4b7b9 {
        display: flex !important;
    }
    .fl-node-5b20b69b4b7b9 .fl-col {
        flex: 100%;
        order: 2;
    }
    .fl-node-5b20b69b4b7b9 .fl-node-5b20b69b4b857 {
        order: 1;
    }
    #map {
        height: 350px !important;
    }
    .fl-node-5b20b69b4b855 {
        display: none !important;
    }
    .fl-node-5b20b77926f11 {
        padding: 15px 20px;
    }
    .contactBarFooter .fl-col-group>.fl-col {
        padding: 20px 0;
    }
    .contactBarFooter .fl-row-content-wrap {
        padding: 0;
    }
    .listOfLocation ul.location-list {
        margin-top: 15px;
    }
    .product-grid>.row {
        margin: 0;
    }
    .airlist .inventory-img>img {
        height: auto !important;
        width: 100% !important;
    }
    .filterWrapper {
        display: block;
        text-align: center;
    }
    .filterWrapper>strong {
        display: block;
    }
    .filterWrapper .facetwp-facet {
        margin: 20px auto 40px !important;
        display: inline-block;
    }
    .productTitle {
        font-size: 30px;
        font-weight: 500;
        margin-top: 0;
    }
    .download-button,
    .inquire-button {
        width: 100%;
    }
    .product-infotabs,
    .infotabs {
        padding: 0;
    }
    .product-infotabs #accordion .panel-heading,
    .infotabs #accordion .panel-heading {
        padding: 0;
        border: 0;
    }
    .product-infotabs #accordion .panel-heading .panel-title>a,
    .infotabs #accordion .panel-heading .panel-title>a {
        display: block;
        width: 100%;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        background-color: #DEDEDE;
        border: 0;
        padding: 20px;
    }
    .product-infotabs #accordion .panel,
    .infotabs #accordion .panel {
        border: 0;
        margin: 0;
        border-top: 1px solid #fafafa;
    }
    .product-infotabs #accordion .panel-heading .panel-title>a[aria-expanded=true],
    .infotabs #accordion .panel-heading .panel-title>a[aria-expanded=true],
    .product-infotabs #accordion .panel-collapse[aria-expanded="true"],
    .infotabs #accordion .panel-collapse[aria-expanded="true"] {
        background-color: #FAFAFA;
    }
    .product-infotabs #accordion .panel-heading .panel-title>a[aria-expanded=true]:after,
    .infotabs #accordion .panel-heading .panel-title>a[aria-expanded=true]:after {
        content: '\f068';
        float: right;
        line-height: 1;
        font: normal normal normal 22px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: 200;
        -moz-osx-font-smoothing: grayscale;
    }
    .product-infotabs #accordion .panel-heading .panel-title>a[aria-expanded=false]:after,
    .infotabs #accordion .panel-heading .panel-title>a[aria-expanded=false]:after {
        content: '\f067';
        float: right;
        line-height: 1;
        font: normal normal normal 22px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: 200;
        -moz-osx-font-smoothing: grayscale;
    }
    .jeticons .hours-icon {
        font-size: 9px;
        font-weight: 500;
    }
    .icon-sep.jeticons {
        width: 100%;
    }
}

@media(max-width:567px) {
    .airlist .product-grid .product-grid-top .view-cta{
        display: block!important;
    }
    .product-atts {
        margin-left: 0;
    }
    .slider-nav.slick-initialized.slick-slider {
        overflow: hidden;
    }
    .container.product-detail>.row {
        margin: 0;
    }
    .nav.nav-tabs {}
}

h3.aviation-price.soldOut {
    font-size: 16px;
}

h3.aviation-price.soldOut span {
    font-size: 20px;
    color: #EA3546;
    margin-left: 10px;
}

.inventoryCustomLink .customMenuContent>a.customBtn.soldbtn {
    background: #EA3546 !important;
}

.inventoryCustomLink .customMenuContent>a.customBtn.soldbtn:hover {
    background: #ffffff !important;
}

.icon-sep img.alignnone {
    height: 20px !important;
}

.single .icon-sep.jeticons .hours-icon img {
    margin-bottom: 5px !important;
}

.single .jeticons .hours-icon {
    font-size: 10px;
}

.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.sub-menu li a:before,
.fl-submenu-indicator .fl-page-nav ul.navbar-nav>li.menu-item-has-children>a:after {
    font-family: 'FontAwesome' !important;
}

.fl-page-nav-collapse.navbar-collapse {
    position: inherit;
}

/* CSS */
.product-grid > .row{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
.product-grid > .row > .product-grid-item,
.product-grid > .row > .col-md-3{
    margin-bottom: 30px;
}
.product-grid > .row .fl-post-grid-post{
    background: #fff;
    height: 100%;
    margin: 0;
}
.product-grid > .row .fl-post-grid-post .product-grid-top{
    margin-top:-10px;
    padding:10px;
}
.product-grid > .row .fl-post-grid-post .product-grid-top .custom_price_wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.product-grid > .row > .product-grid-item .hangar-list .product-grid-top{
    margin-bottom: 85px;
}
.HomePageProducts .inventory-img{
	height:auto;
	max-height:300px;
}
.HomePageProducts .inventory-img img{
    min-height: 300px;
    display: block;
    margin: 0 auto;
}

.featured-products .inventory-img{
	height:auto;
    max-height:200px;
    position: relative;
}
.featured-products .inventory-img img{
    min-height: 200px;
    display: block;
    margin: 0 auto;
}
.featured-products .reducedtext{
    max-width: 95%;
    clip-path: polygon( 0 0, 100% 0, 95% 100%, 0 calc(100% - 0vw) );
    padding-right: 20px;
}
.featured-products .reducedtext:after{
    display: none;
}
.featured-products .featured-product-list .fl-post-grid-post{
    margin: 0 10px;
}
.featured-products .featured-product-list .fl-post-grid-post .product-grid-top{
    background: #fff;
    padding: 10px 0;
}
.featured-products .featured-product-list .slick-arrow{
    font-size: 0;
    display: block;
    background: none;
    border:0;
    padding: 0;
    border-radius: 0;
    position: absolute;
    top: 50%;
    left: -20px;
    z-index: 5;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.featured-products .featured-product-list .slick-arrow.slick-next{
    left: auto;
    right: -20px;
}
.jetslider .slick-slide img {
    display: none;
}
.jetslider .slick-slide.slick-current.slick-active img {
    display: block;
}